#  **$\color{purple}{\text{Session 1 and 2}}$**

In [4]:
a = 2
b = 1
d = a or b
print(d)

2

In [5]:
a = 2
b = 1
d = a and b
print(d)

1

In [6]:
a and b

1

In [7]:
a or b

2

In [8]:
a = True
b =False
d = a and b
print(d)

False

In [9]:
a = False
b = True
d = a and b
print(d)

False

In [10]:
a = 1
b = 0
d = a and b
print(d)

0

In [11]:
a = 1
b = 0
d = a and b
print(d)

0

#  $\color{purple}{\text{Session 3}}$

## Variable name

- camelCase
- snake_case

In [12]:
nomreMahsa = 12
nomre_mahsa = 10

## Strings

In [13]:
my_name = "Mahsa"

print(my_name)

Mahsa

### string length

In [14]:
len(my_name)

5

### string index

In [15]:
print(my_name[0])
print(my_name[1])

M
a

In [16]:
my_name[1]
my_name[0]

'M'

In [17]:
print(my_name[-1])

a

In [18]:
my_name[len(my_name)-1]

'a'

In [19]:
my_name[1:8]

'ahsa'

In [20]:
my_name[1:3]

'ah'

### Joining first name and last name

In [21]:
first_name = "Mahsa"
last_name = "Rastaghi"

full_name = first_name +" "+ last_name

print(full_name)

Mahsa Rastaghi

In [22]:
first_name * 100

'MahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsa'

In [23]:
temp_int = 1
temp_str = "1"

print(temp_int*2)
print(temp_str*2)

temp = """sdkafjh
akdhcksjd
lckjdkjs
jdbcsdjb"""

2
11

In [24]:
print(my_name.find("t"))

full_name.find(last_name)

-1

6

#  $\color{purple}{\text{Session 4}}$

In [25]:
a = 2
b = a
print(b)

2

In [26]:
a = 2
b = 2
a == b

True

In [27]:
full_name[0]

'M'

### Immutable

In [28]:
brother = "Alireza"
brother_name = full_name.replace(first_name , brother)

print(brother_name)

Alireza Rastaghi

In [29]:
my_double_fullname = first_name * 2

my_double_fullname2 = my_double_fullname.replace(my_double_fullname , brother)

print(my_double_fullname2)

Alireza

### Upper case and lower case

In [30]:
full_name.lower()

'mahsa rastaghi'

In [31]:
brother_name.lower()

'alireza rastaghi'

### Check if there are other things except alphabets

In [32]:
full_name.isalpha()

False

In [33]:
name = "mahsarastaghi"
name.isalpha()

True

### Creating list based on "space"

In [71]:
teacher_name = "Amir houshang Hoseinpour Dehkordi"
teacher_name.split(' ')

['Amir', 'houshang', 'Hoseinpour', 'Dehkordi']

### Creating list based on "comma"

In [35]:
teacher_name1 = "Amir,houshang,Hoseinpour,Dehkordi"
teacher_name1.split(',')

['Amir', 'houshang', 'Hoseinpour', 'Dehkordi']

### Separating values by " : "

In [36]:
time = "17:47:33"

splited_time = time.split(":")

print(splited_time)

['17', '47', '33']

In [37]:
dir(full_name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [38]:
help(full_name.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [39]:
temp_name = 'mahsa\nrastaghi'
print(temp_name)

mahsa
rastaghi

In [40]:
print("\"")

"

# $\color{red}{\text{Q1.}}$Find the number of "python" ' s in it's wikipedia page

In [73]:
wiki_page = "صفحه ویکی پدیا به دلیل طولانی بودن متن و ایجاد مشکل برای جوپیتر اینجا کپی نشد"

wiki_page.count("python")

0

#  $\color{purple}{\text{Session5}}$

## IF and ELSE

In [41]:
if True:
    print("hi")

hi

In [42]:
if False:
    print("hi")

In [43]:
if 3:
    print("hi")

hi

In [44]:
if 0:
    print("hello")

In [45]:
if "":
    print("hello")

In [46]:
if "mahsa":
    print("hello")

hello

In [47]:
if len(my_name)>=5:
    print("esm man toolani ast")

esm man toolani ast

In [48]:
if len(my_name)>=7:
    print("esm man toolani ast")
else:
    print("esm man toolani nist")

esm man toolani nist

In [49]:
if len(full_name)>=7:
    print("esm man toolani ast")
else:
    print("esm man toolani nist")

esm man toolani ast

In [50]:
input_name = "amir"

if len(input_name)<=3:
    
    print("esm man kootah ast")
    
elif 3<len(input_name)<=5:
    
    print("esm man motevaset ast")
    
else:
    
    print("esm man toolani ast")

esm man motevaset ast

In [51]:
input_name = "amirali"

if len(input_name)<=3:
    
    print("esm man kootah ast")
    
elif 3<len(input_name)<=5:
    
    print("esm man motevaset ast")
    
else:
    
    print("esm man toolani ast")

esm man toolani ast

In [52]:
input_name = "ava"

if len(input_name)<=3:
    
    print("esm man kootah ast")
    
elif 3<len(input_name)<=5:
    
    print("esm man motevaset ast")
    
else:
    
    print("esm man toolani ast")

esm man kootah ast

In [53]:
age = 18

if age>20:
    if not age %2 :
        print("even,adult")
    else :
        print("odd,adult")
else:
    if not age %2 :
        print("even,child")
    else :
        print("odd,child")

even,child

In [54]:
age = 19

if age>20:
    if age %2 ==0 :
        print("even,adult")
    else :
        print("odd,adult")
else:
    if age %2==0 :
        print("even,child")
    else :
        print("odd,child")

odd,child

## While Loop

In [55]:
temp_int = 8
while temp_int > 0:
    print(temp_int)
    temp_int -=1 #temp_int -=1 === temp_int - 1

8
7
6
5
4
3
2
1

## fibonacci < 100

In [56]:
n = 12  
fib_sequence = [0, 1]

for i in range(2, n):
    fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    

print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [57]:
fib_sequence = [0, 1]

while True:
    next_number = fib_sequence[-1] + fib_sequence[-2]
    if next_number >= 100:
        break
    fib_sequence.append(next_number)

print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [58]:
fib_sequence = [0, 1]

while fib_sequence[-1] + fib_sequence[-2] < 100:
    fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])

print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

#  $\color{purple}{\text{Session 6}}$

### Check if p is a prime number

In [59]:
p = 8
temp_P = p-1
aya_aval_ast = True
while temp_P > 1:
    if p % temp_P == 0 :
        aya_aval_ast = False
        break
    temp_P -= 1
if aya_aval_ast:
    print("?is Prime")
else:
    print("is not Prime")

is not Prime

#  $\color{purple}{\text{Session 7}}$

## For Loop

In [60]:
#while True: #in tike hamishe anjam beshe
#    if 't'is pressed:# shart baraye ghat shodan loop
#        break

In [61]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [62]:
sum = 0
for i in range(5):
    sum += i
    print(sum)

0
1
3
6
10

In [63]:
sum = 0
for i in range(5):
    sum+= i
    print('i='+str(i)+',sum='+str(sum))
print('end')

i=0,sum=0
i=1,sum=1
i=2,sum=3
i=3,sum=6
i=4,sum=10
end

In [64]:
n = 10
for i in range(1,n+1):
    n *= i
print(n)

36288000

In [65]:
n = 10
fact = 1
for i in range(n):
    fact = fact*(i+1)
print(fact)

3628800

### HOP game

In [66]:
for i in range(1,26):
    if i%3 == 0:
        print("HOP")
    else:
        print(i)

1
2
HOP
4
5
HOP
7
8
HOP
10
11
HOP
13
14
HOP
16
17
HOP
19
20
HOP
22
23
HOP
25

#  $\color{purple}{\text{Session 8}}$

## List

In [67]:
temp_list = [22,'Mahsa',3.14]
len(temp_list)

3

In [68]:
len(temp_list[1])

5

In [69]:
temp_list[1][3]

's'

In [70]:
temp_list[0][1]

TypeError: 'int' object is not subscriptable

In [ ]:
temp_list[:-1]

In [ ]:
temp_list[1:]

### Add to the list

In [ ]:
temp_list = temp_list+ [2 , 'programming' , 2.71828]
temp_list

In [ ]:
temp_list.append('ali')
temp_list

In [ ]:
dir(temp_list)

In [ ]:
temp_list.pop()

In [ ]:
temp_list

 ### Sorting list items

In [ ]:
ages = [12,15,22,56]
ages.sort()
ages

In [ ]:
ages2 = [1,5,2,'s']
ages2.sort()
ages2

In [ ]:
ages3 = ['5','6', 'f', 't','L','P']
ages3.sort()
ages3

In [ ]:
nested_array = [[1,2,3],[4,5,6],[7,8,9]]
nested_array

In [ ]:
nested_array[0][0]

In [ ]:
my_grades = [20,17,1,12]

for i in my_grades:
    print(i)

In [ ]:
my_classes = ['Math', 'Physics', 'Programming', 'History']

In [ ]:
for i in range(len(my_classes)):
    print(f"Course: {courses[i]}, Grade: {my_grades[i]}")

# $\color{red}{\text{Q2.}}$ Print courses that you passed in the decending order

In [74]:
my_grades = [9,17,18,19]
my_classes = ['Math', 'Physics', 'Programming', 'Theory of probability']
for i in range(len(my_grades)):
    if my_grades[i] >= 10:
        print(my_classes[i],'=',my_grades[i])

Physics = 17
Programming = 18
Theory of probability = 19

In [75]:
for i in range(len(my_grades)):
    print(my_classes[i]+'='+str(my_grades[i]))

Math=9
Physics=17
Programming=18
Theory of probability=19

### Floor and Ceiling Function

In [ ]:
pi = 3.14
int(pi)

In [ ]:
e = 2.7
int(e)

# $\color{purple}{\text{Session 9}}$

## Dictionaries

### Making a profile for me

In [76]:
my_profile = {'First name':'Mahsa','Last name':'Rastaghi'}
print(my_profile['First name'])

Mahsa

In [77]:
my_profile1 = {'Name': my_profile , 'Age':22}
print(my_profile1['Name'])

{'First name': 'Mahsa', 'Last name': 'Rastaghi'}

In [78]:
print(my_profile1['Name']['First name'])

Mahsa

In [79]:
Cities = ['Kish', 'Shiraz' , 'Tehran']
my_profile1['Cities'] = Cities
my_profile1

{'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'},
 'Age': 22,
 'Cities': ['Kish', 'Shiraz', 'Tehran']}

In [80]:
len(my_profile1['Cities'])

3

In [81]:
my_profile1['Cities'][-1]

'Tehran'

In [82]:
my_profile1['Friends'] = [
                          {'first name': ' Mariam' , 'Last name': 'Shojaedin', 'Age': 21 , 'Id':0},
                          {'first name': ' Nika' , 'Last name': 'Sadidi', 'Age': 22 , 'Id':1},
                          {'first name': ' Hesam' , 'Last name': 'Fatemi zadeh', 'Age': 21 , 'Id':2}]

In [83]:
my_profile1['Friends'].append({'first name': 'Fatemeh' , 'Last name': 'Sayyadi', 'Age': 22 , 'Id':'3'})
my_profile1

{'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'},
 'Age': 22,
 'Cities': ['Kish', 'Shiraz', 'Tehran'],
 'Friends': [{'first name': ' Mariam',
   'Last name': 'Shojaedin',
   'Age': 21,
   'Id': 0},
  {'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1},
  {'first name': ' Hesam', 'Last name': 'Fatemi zadeh', 'Age': 21, 'Id': 2},
  {'first name': 'Fatemeh', 'Last name': 'Sayyadi', 'Age': 22, 'Id': '3'}]}

# $\color{red}{\text{Q3.}}$ Print the name of the oldest friend and average age of your friends

In [84]:
def OldestAverageFriend(my_profile1):
    Max_Age = 0
    Max_Friend = 0
    Sum_Age = 0
    for i in my_profile1["Friends"]:
        Sum_Age += i["Age"]
        if i["Age"] > Max_Age:
            Max_Age = i["Age"]
            Max_Friend = i
    Average_Age = Sum_Age / len(my_profile1["Friends"])
    return [Max_Friend,Average_Age ]

In [85]:
oldest_friend = OldestAverageFriend(my_profile1)[0]
print(oldest_friend["first name"])
average_age_of_friend = OldestAverageFriend(my_profile1)[1]
print(average_age_of_friend)
output = OldestAverageFriend(my_profile1)
print(output)

 Nika
21.5
[{'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1}, 21.5]

#  $\color{purple}{\text{Session 10}}$

## Keys and Values of dictionaries

In [ ]:
my_profile1.keys()

In [ ]:
my_profile1.values()

In [ ]:
if "Age" in my_profile1.keys():
    print("Age vared shode ast")
    
else:
    print("Age ra vared kon")

In [ ]:
if "Age" in my_profile1.keys():
    if my_profile1["Age"]>=18:
        print("ejaze darad")
else:
    print("Age ra vared konid")

In [ ]:
if "Age" in my_profile1.keys():
    if (my_profile1["Age"])==int:
        print("ejaze darad")
else:
    print("Age ra vared konid")

## Converting my profile to a " txt " file

In [86]:
temp_file = open("my_profile1.txt" , "w")
temp_file.write(str(my_profile1))
temp_file.close()

In [ ]:
print(temp_file)

## Opening a " txt " file

In [ ]:
amir_file = open("amir_profile.txt" , "r")
amir_profile = amir_file.read()
amir_file.close()

In [ ]:
print(amir_profile)

#  $\color{purple}{\text{Session 11}}$

## Functions

#### $\color{red}{\text{midterm ta akhar jalase 11}}$

In [87]:
print(len("mahsa"))

5

In [90]:
def FunctionName(my_input):
    print(my_input)
    
    
    return my_input*2

In [89]:
my_function_value = FunctionName("mahsa")
my_function_value

'mahsamahsa'

### Fibonacci

In [91]:
def Fib(n):
    fib_sequence = [0, 1]
    
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    
    return fib_sequence


print(Fib(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [92]:
n = 3
mult = 1
for i in range(n):
    mult = mult*2
a = mult
print(my_name*a)

MahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsa

In [94]:
def power2(n):
    mult = 1
    for i in range(n):
        mult = mult * 2
    return mult

In [95]:
def power_k(k,n):
    mult = 1
    for i in range(n):
        mult = mult*k
    return mult

In [96]:
power_k(2,3)

8

# $\color{red}{\text{Q4.}}$ Hop game using function

In [97]:
def Hop(p):
    for i in range(1 , p+1):
        if i % 5 == 0:
            print("Hop")
        else:
            print(i)
    return

In [99]:
Hop(25)

1
2
3
4
Hop
6
7
8
9
Hop
11
12
13
14
Hop
16
17
18
19
Hop
21
22
23
24
Hop

# $\color{red}{\text{Q5.}}$ def swap(a,b) 4,3 = swap(3,4)

In [100]:
def swap(a , b):
    
    temp = a
    a = b
    b = temp
    
    return a , b

In [104]:
first = 12
second = 3
first , second = swap(first , second)
print(f"swapped values: first = {first} , second = {second}")

swapped values: first = 3 , second = 12

#  $\color{purple}{\text{Session 12}}$

## Adding id to my profile

In [105]:
my_Id = 18
my_profile1["Id"] = my_Id
my_profile1

{'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'},
 'Age': 22,
 'Cities': ['Kish', 'Shiraz', 'Tehran'],
 'Friends': [{'first name': ' Mariam',
   'Last name': 'Shojaedin',
   'Age': 21,
   'Id': 0},
  {'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1},
  {'first name': ' Hesam', 'Last name': 'Fatemi zadeh', 'Age': 21, 'Id': 2},
  {'first name': 'Fatemeh', 'Last name': 'Sayyadi', 'Age': 22, 'Id': '3'}],
 'Id': 18}

In [106]:
temp_file = open(str(my_profile1["Id"])+".txt" , "w")
temp_file.write(str(my_profile1))
temp_file.close()

#  $\color{purple}{\text{Session 13}}$

### Opening the classmates profile as a txt file

In [107]:
f = open("Classmates/1.txt")
data = f.read()
print(data)

{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}

In [108]:
import glob


file_list = glob.glob('Classmates/*.txt')


for file_name in file_list:
    with open(file_name, 'r') as file:
        content = file.read()
        print(f"Contents of {file_name}:")
        print(content)
        print("\n")

Contents of Classmates\1.txt:
{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}


Contents of Classmates\10.txt:
{'name': {'firstName': 'amir_ali', 'lastName': 'mohammadi'}, 'age': 22, 'id': 10, 'cities': ['Tehran', 'kish', 'kabul'], 'friends': [{'firstName': 'kamran', 'lastName': 'Fry', 'age': 80, 'id': 0}, {'firstName': 'aligoodarz', 'lastName': 'baboli', 'age': 4, 'id': 1}, {'firstName': 'parham', 'lastName': 'Wong', 'age': 30, 'id': 2}]}


Contents of Classmates\11.txt:
{'name': {'first_name': 'Parsa', 'last_name': 'Mollaei'}, 'age': 22, 'my_id': 11, 'cities': ['tehran', 'esfehan', 'kerman'], 'friends': [{'first_name': 'ali', 'last_name': 'Barkhodari', 'age': 22, 'id': '2'}, {'first_name': 'AmirHossein', 'last_name': 'yousefzade', 'age': 22, 'id': 2}, {'first_name': 'Parnian', 'last_name': 'Mollaei', 'age': 13, 'id': 3}]}


Contents of Classmates\12.txt:
{'id': 12, 'name': 'Sina', 'age': 21, 'email': 'sina.sherkat@example.com', 'location': 'Kish'}


Contents of Classmates\13.txt:
{'name': {'firstName': 'Fazel', 'lastName': 'Basiri'}, 'age': 25, 'cities': ['Bam', 'Shiraz', 'Kish'], 'friends': [{'firstName': 'Saeed', 'lastName': 'Ashrafian', 'age': 25}, {'firstName': 'Mahsa', 'lastName': 'Kzn', 'age':22}, {'firstName': 'Alireza', 'lastName': 'PourMoghadam', 'age':26}], 'id': 13}


Contents of Classmates\14.txt:
{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}], 'id': 14}


Contents of Classmates\16.txt:
{'name': {'firstname': 'Hesam', 'lastName': 'Fatemizadeh'}, 'age': 21, 'cities': ['TEHRAN', 'KISH', 'ABADAN'], 'friends': [{'firstname': 'mariam', 'lastname': 'shojaodin', 'age': 21, 'id': '100'}, {'firstname': 'abbas', 'lastname': 'ranjbar', 'age': 25, 'id': '101'}, {'firstname': 'ali', 'lastname': 'niazi', 'age': 23, 'id': 102}], 'id': 16}


Contents of Classmates\17.txt:
{'name': {'first name': 'Mariam', 'last name': 'Shojaedin'}, 'age': 21, 'cities': ['Kaluga', 'Moscow', 'Sochi'], 'friends': [{'firstName': 'Mahsa', 'lastName': 'Rastaghi', 'age': 22, 'ID': '0'}, {'firstName': 'Hesam', 'lastName': 'Fatemizade', 'age': 21, 'ID': '1'}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'ID': '2'}, {'firstName': 'Ali', 'lastName': 'Niazi', 'age': 23, 'ID': '3'}], 'ID': 17}


Contents of Classmates\18.txt:
{'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'}, 'Age': 22, 'Cities': ['Kish', 'Shiraz', 'Tehran'], 'Friends': [{'first name': ' Mariam', 'Last name': 'Shojaedin', 'Age': 21, 'Id': 0}, {'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1}, {'first name': ' Hesam', 'Last name': 'Fatemi zadeh', 'Age': 21, 'Id': 2}, {'first name': 'Fatemeh', 'Last name': 'Sayyadi', 'Age': 22, 'Id': '3'}], 'Id': 18}


Contents of Classmates\19.txt:
{'name': 'Mobina Mohammadiuon', 'age': 21, 'id': 19, 'cities': ['Tehran', 'Boston', 'Shahrkord'], 'friends': [{'firstName': 'Elaheh', 'lastName': 'HosseinAbadi', 'age': 21, 'id': 0}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'id': 1}, {'firstName': 'Azin', 'lastName': 'Esfandiari', 'age': 25, 'id': 2}]}


Contents of Classmates\2.txt:
{'name': {'firstName': 'parsa', 'lastName': 'khaki'}, 'age': 19, 'cities': ['tehran', 'boston', 'mehran'], 'friends': [{'firstName': 'shayan', 'lastname': 'shahvari', 'age': 35, 'id': 0}, {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1}, {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}], 'id': 2}


Contents of Classmates\4.txt:
{'name': {'firstName': 'Zahra', 'lastName': 'Akhlaghipoor'}, 'age': 22, 'cities': ['Kish'], 'friends': [{'firstName': 'Tima', 'LastName': 'Kalhori', 'age': 19, 'id': 0}, {'firstName': 'Nikki', 'LastName': 'Khayyat', 'age': 21, 'id': 1}], 'id': 4}


Contents of Classmates\5.txt:
{'firstName': 'Tima', 'lastName': 'Kalhori', 'age': 19, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstName': 'philip', 'lastName': 'fry', 'age': 35, 'id': 0}, {'firstName': 'zahra', 'lastName': 'akhlaghipoor', 'age': 22, 'id': 12}, {'firstName': 'leili', 'lastname': 'shabani', 'age': 27, 'id': 32}], 'id': 5}


Contents of Classmates\6.txt:
{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'}, 'age': 23, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0}, {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}, {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}], 'Id': 6}


Contents of Classmates\7.txt:
{'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20, 'cities': ['kl', 'iis', 'maha'], 'lastCity': ['kl'], 'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0}, {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2}, {'firstname': 'setia', 'lastname': 'dehghan', 'id': 'bestfriend', 'age': 25}], 'id': 7}


Contents of Classmates\8.txt:
{'name': {'first name': 'Mohammad', 'last name': 'Mohammad Khaninezhad'}, 'age': 20, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'first name': 'Shahrad', 'last name': 'Shahraki', 'age': 21, 'id': 0}, {'first name': 'Hossein', 'last name': 'Dehghan', 'age': 22, 'id': 1}, {'first name': 'Erfan', 'last name': 'Kasef', 'age': 23, 'id': 2}], 'id': 8}


Contents of Classmates\9.txt:
{'name': {'first name': 'shahrad', 'last name': 'shahraki'}, 'age': 22, 'cities': ['birjand', 'khoosf', 'tabas'], 'friends': [{'first name': 'alireza', 'last name': 'balali', 'age': 7, 'id': 2}, {'first name': 'shahrokh', 'last name': 'shahmohammadi', 'age': 40, 'id': 7}, {'first name': 'saba', 'last name': 'samaani', 'age': 34, 'id': 5}], 'id': 9}

In [109]:
import os
List_of_files = os.listdir('C:\\Users\\mahsa\\university\\Classmates')
print(List_of_files)

['1.txt', '10.txt', '11.txt', '12.txt', '13.txt', '14.txt', '16.txt', '17.txt', '18.txt', '19.txt', '2.txt', '4.txt', '5.txt', '6.txt', '7.txt', '8.txt', '9.txt']

In [110]:
import os
ROOT_DIR = os.path.abspath(os.curdir)
print(ROOT_DIR)
List_of_files = os.listdir(ROOT_DIR+'/Classmates')
print(List_of_files)

C:\Users\mahsa\university
['1.txt', '10.txt', '11.txt', '12.txt', '13.txt', '14.txt', '16.txt', '17.txt', '18.txt', '19.txt', '2.txt', '4.txt', '5.txt', '6.txt', '7.txt', '8.txt', '9.txt']

In [111]:
Classmates_Profile = []

for i in List_of_files:
    f = open('Classmates/'+ i)
    temp_profile = f.read()
    Classmates_Profile.append(temp_profile)
    f.close()
Classmates_Profile

["{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}",
 "{'name': {'firstName': 'amir_ali', 'lastName': 'mohammadi'}, 'age': 22, 'id': 10, 'cities': ['Tehran', 'kish', 'kabul'], 'friends': [{'firstName': 'kamran', 'lastName': 'Fry', 'age': 80, 'id': 0}, {'firstName': 'aligoodarz', 'lastName': 'baboli', 'age': 4, 'id': 1}, {'firstName': 'parham', 'lastName': 'Wong', 'age': 30, 'id': 2}]}",
 "{'name': {'first_name': 'Parsa', 'last_name': 'Mollaei'}, 'age': 22, 'my_id': 11, 'cities': ['tehran', 'esfehan', 'kerman'], 'friends': [{'first_name': 'ali', 'last_name': 'Barkhodari', 'age': 22, 'id': '2'}, {'first_name': 'AmirHossein', 'last_name': 'yousefzade', 'age': 22, 'id': 2}, {'first_name': 'Parnian', 'last_name': 'Mollaei', 'age': 13, 'id': 3}]}",
 "{'id': 12, 'name': 'Sina', 'age': 21, 'email': 'sina.sherkat@example.com', 'location': 'Kish'}",
 "{'name': {'firstName': 'Fazel', 'lastName': 'Basiri'}, 'age': 25, 'cities': ['Bam', 'Shiraz', 'Kish'], 'friends': [{'firstName': 'Saeed', 'lastName': 'Ashrafian', 'age': 25}, {'firstName': 'Mahsa', 'lastName': 'Kzn', 'age':22}, {'firstName': 'Alireza', 'lastName': 'PourMoghadam', 'age':26}], 'id': 13}",
 "{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}], 'id': 14}",
 "{'name': {'firstname': 'Hesam', 'lastName': 'Fatemizadeh'}, 'age': 21, 'cities': ['TEHRAN', 'KISH', 'ABADAN'], 'friends': [{'firstname': 'mariam', 'lastname': 'shojaodin', 'age': 21, 'id': '100'}, {'firstname': 'abbas', 'lastname': 'ranjbar', 'age': 25, 'id': '101'}, {'firstname': 'ali', 'lastname': 'niazi', 'age': 23, 'id': 102}], 'id': 16}",
 "{'name': {'first name': 'Mariam', 'last name': 'Shojaedin'}, 'age': 21, 'cities': ['Kaluga', 'Moscow', 'Sochi'], 'friends': [{'firstName': 'Mahsa', 'lastName': 'Rastaghi', 'age': 22, 'ID': '0'}, {'firstName': 'Hesam', 'lastName': 'Fatemizade', 'age': 21, 'ID': '1'}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'ID': '2'}, {'firstName': 'Ali', 'lastName': 'Niazi', 'age': 23, 'ID': '3'}], 'ID': 17}",
 "{'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'}, 'Age': 22, 'Cities': ['Kish', 'Shiraz', 'Tehran'], 'Friends': [{'first name': ' Mariam', 'Last name': 'Shojaedin', 'Age': 21, 'Id': 0}, {'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1}, {'first name': ' Hesam', 'Last name': 'Fatemi zadeh', 'Age': 21, 'Id': 2}, {'first name': 'Fatemeh', 'Last name': 'Sayyadi', 'Age': 22, 'Id': '3'}], 'Id': 18}",
 "{'name': 'Mobina Mohammadiuon', 'age': 21, 'id': 19, 'cities': ['Tehran', 'Boston', 'Shahrkord'], 'friends': [{'firstName': 'Elaheh', 'lastName': 'HosseinAbadi', 'age': 21, 'id': 0}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'id': 1}, {'firstName': 'Azin', 'lastName': 'Esfandiari', 'age': 25, 'id': 2}]}",
 "{'name': {'firstName': 'parsa', 'lastName': 'khaki'}, 'age': 19, 'cities': ['tehran', 'boston', 'mehran'], 'friends': [{'firstName': 'shayan', 'lastname': 'shahvari', 'age': 35, 'id': 0}, {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1}, {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}], 'id': 2}",
 "{'name': {'firstName': 'Zahra', 'lastName': 'Akhlaghipoor'}, 'age': 22, 'cities': ['Kish'], 'friends': [{'firstName': 'Tima', 'LastName': 'Kalhori', 'age': 19, 'id': 0}, {'firstName': 'Nikki', 'LastName': 'Khayyat', 'age': 21, 'id': 1}], 'id': 4}",
 "{'firstName': 'Tima', 'lastName': 'Kalhori', 'age': 19, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstName': 'philip', 'lastName': 'fry', 'age': 35, 'id': 0}, {'firstName': 'zahra', 'lastName': 'akhlaghipoor', 'age': 22, 'id': 12}, {'firstName': 'leili', 'lastname': 'shabani', 'age': 27, 'id': 32}], 'id': 5}",
 "{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'}, 'age': 23, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0}, {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}, {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}], 'Id': 6}",
 "{'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20, 'cities': ['kl', 'iis', 'maha'], 'lastCity': ['kl'], 'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0}, {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2}, {'firstname': 'setia', 'lastname': 'dehghan', 'id': 'bestfriend', 'age': 25}], 'id': 7}",
 "{'name': {'first name': 'Mohammad', 'last name': 'Mohammad Khaninezhad'}, 'age': 20, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'first name': 'Shahrad', 'last name': 'Shahraki', 'age': 21, 'id': 0}, {'first name': 'Hossein', 'last name': 'Dehghan', 'age': 22, 'id': 1}, {'first name': 'Erfan', 'last name': 'Kasef', 'age': 23, 'id': 2}], 'id': 8}",
 "{'name': {'first name': 'shahrad', 'last name': 'shahraki'}, 'age': 22, 'cities': ['birjand', 'khoosf', 'tabas'], 'friends': [{'first name': 'alireza', 'last name': 'balali', 'age': 7, 'id': 2}, {'first name': 'shahrokh', 'last name': 'shahmohammadi', 'age': 40, 'id': 7}, {'first name': 'saba', 'last name': 'samaani', 'age': 34, 'id': 5}], 'id': 9}"]

#  $\color{purple}{\text{Session 14}}$

## Json : Format zakhire sazi etelaat

In [112]:
import json

data = json.loads("temp_profile")

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [113]:
double_q_profile = json.loads(temp_profile.replace("'","\""))
print(double_q_profile["name"])

{'first name': 'shahrad', 'last name': 'shahraki'}

In [114]:
import os
ROOT_DIR = os.path.abspath(os.curdir)

List_of_files = os.listdir(ROOT_DIR+'/Classmates')


Classmates_Profile = []

for i in List_of_files:
    f = open('Classmates/'+ i)
    temp_profile = f.read()
    
    converted_profile = json.loads(temp_profile.replace("'", "\""))
    
    Classmates_Profile.append(converted_profile)
    
    f.close()
Classmates_Profile

[{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'},
  'age': 20,
  'cities': ['Tehran', 'Moscow', 'Kish'],
  'friends': [{'first_name': 'Parsa',
    'last_name': 'khaki',
    'age': 30,
    'id': 0},
   {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1},
   {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}],
  'id': 1},
 {'name': {'firstName': 'amir_ali', 'lastName': 'mohammadi'},
  'age': 22,
  'id': 10,
  'cities': ['Tehran', 'kish', 'kabul'],
  'friends': [{'firstName': 'kamran', 'lastName': 'Fry', 'age': 80, 'id': 0},
   {'firstName': 'aligoodarz', 'lastName': 'baboli', 'age': 4, 'id': 1},
   {'firstName': 'parham', 'lastName': 'Wong', 'age': 30, 'id': 2}]},
 {'name': {'first_name': 'Parsa', 'last_name': 'Mollaei'},
  'age': 22,
  'my_id': 11,
  'cities': ['tehran', 'esfehan', 'kerman'],
  'friends': [{'first_name': 'ali',
    'last_name': 'Barkhodari',
    'age': 22,
    'id': '2'},
   {'first_name': 'AmirHossein',
    'last_name': 'yousefzade',
    'age': 22,
    'id': 2},
   {'first_name': 'Parnian', 'last_name': 'Mollaei', 'age': 13, 'id': 3}]},
 {'id': 12,
  'name': 'Sina',
  'age': 21,
  'email': 'sina.sherkat@example.com',
  'location': 'Kish'},
 {'name': {'firstName': 'Fazel', 'lastName': 'Basiri'},
  'age': 25,
  'cities': ['Bam', 'Shiraz', 'Kish'],
  'friends': [{'firstName': 'Saeed', 'lastName': 'Ashrafian', 'age': 25},
   {'firstName': 'Mahsa', 'lastName': 'Kzn', 'age': 22},
   {'firstName': 'Alireza', 'lastName': 'PourMoghadam', 'age': 26}],
  'id': 13},
 {'name': {'first name': 'Mahsa', 'last name': 'kzn'},
  'age': 22,
  'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'],
  'friends': [{'firstname': 'Fazel',
    'Lastname': 'basiri',
    'age': 25,
    'id': 13},
   {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}],
  'id': 14},
 {'name': {'firstname': 'Hesam', 'lastName': 'Fatemizadeh'},
  'age': 21,
  'cities': ['TEHRAN', 'KISH', 'ABADAN'],
  'friends': [{'firstname': 'mariam',
    'lastname': 'shojaodin',
    'age': 21,
    'id': '100'},
   {'firstname': 'abbas', 'lastname': 'ranjbar', 'age': 25, 'id': '101'},
   {'firstname': 'ali', 'lastname': 'niazi', 'age': 23, 'id': 102}],
  'id': 16},
 {'name': {'first name': 'Mariam', 'last name': 'Shojaedin'},
  'age': 21,
  'cities': ['Kaluga', 'Moscow', 'Sochi'],
  'friends': [{'firstName': 'Mahsa',
    'lastName': 'Rastaghi',
    'age': 22,
    'ID': '0'},
   {'firstName': 'Hesam', 'lastName': 'Fatemizade', 'age': 21, 'ID': '1'},
   {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'ID': '2'},
   {'firstName': 'Ali', 'lastName': 'Niazi', 'age': 23, 'ID': '3'}],
  'ID': 17},
 {'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'},
  'Age': 22,
  'Cities': ['Kish', 'Shiraz', 'Tehran'],
  'Friends': [{'first name': ' Mariam',
    'Last name': 'Shojaedin',
    'Age': 21,
    'Id': 0},
   {'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1},
   {'first name': ' Hesam', 'Last name': 'Fatemi zadeh', 'Age': 21, 'Id': 2},
   {'first name': 'Fatemeh', 'Last name': 'Sayyadi', 'Age': 22, 'Id': '3'}],
  'Id': 18},
 {'name': 'Mobina Mohammadiuon',
  'age': 21,
  'id': 19,
  'cities': ['Tehran', 'Boston', 'Shahrkord'],
  'friends': [{'firstName': 'Elaheh',
    'lastName': 'HosseinAbadi',
    'age': 21,
    'id': 0},
   {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'id': 1},
   {'firstName': 'Azin', 'lastName': 'Esfandiari', 'age': 25, 'id': 2}]},
 {'name': {'firstName': 'parsa', 'lastName': 'khaki'},
  'age': 19,
  'cities': ['tehran', 'boston', 'mehran'],
  'friends': [{'firstName': 'shayan',
    'lastname': 'shahvari',
    'age': 35,
    'id': 0},
   {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1},
   {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}],
  'id': 2},
 {'name': {'firstName': 'Zahra', 'lastName': 'Akhlaghipoor'},
  'age': 22,
  'cities': ['Kish'],
  'friends': [{'firstName': 'Tima', 'LastName': 'Kalhori', 'age': 19, 'id': 0},
   {'firstName': 'Nikki', 'LastName': 'Khayyat', 'age': 21, 'id': 1}],
  'id': 4},
 {'firstName': 'Tima',
  'lastName': 'Kalhori',
  'age': 19,
  'cities': ['Tehran', 'Boston', 'Shahrekord'],
  'friends': [{'firstName': 'philip', 'lastName': 'fry', 'age': 35, 'id': 0},
   {'firstName': 'zahra', 'lastName': 'akhlaghipoor', 'age': 22, 'id': 12},
   {'firstName': 'leili', 'lastname': 'shabani', 'age': 27, 'id': 32}],
  'id': 5},
 {'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'},
  'age': 23,
  'cities': ['Tehran', 'Boston', 'Shahrekord'],
  'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0},
   {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0},
   {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}],
  'Id': 6},
 {'name': {'firstname': 'Saba', 'surname': 'Sarlak'},
  'age': 20,
  'cities': ['kl', 'iis', 'maha'],
  'lastCity': ['kl'],
  'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0},
   {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2},
   {'firstname': 'setia',
    'lastname': 'dehghan',
    'id': 'bestfriend',
    'age': 25}],
  'id': 7},
 {'name': {'first name': 'Mohammad', 'last name': 'Mohammad Khaninezhad'},
  'age': 20,
  'cities': ['Tehran', 'Boston', 'Shahrekord'],
  'friends': [{'first name': 'Shahrad',
    'last name': 'Shahraki',
    'age': 21,
    'id': 0},
   {'first name': 'Hossein', 'last name': 'Dehghan', 'age': 22, 'id': 1},
   {'first name': 'Erfan', 'last name': 'Kasef', 'age': 23, 'id': 2}],
  'id': 8},
 {'name': {'first name': 'shahrad', 'last name': 'shahraki'},
  'age': 22,
  'cities': ['birjand', 'khoosf', 'tabas'],
  'friends': [{'first name': 'alireza',
    'last name': 'balali',
    'age': 7,
    'id': 2},
   {'first name': 'shahrokh',
    'last name': 'shahmohammadi',
    'age': 40,
    'id': 7},
   {'first name': 'saba', 'last name': 'samaani', 'age': 34, 'id': 5}],
  'id': 9}]

#  $\color{purple}{\text{Session 15}}$

In [115]:
for i in range (len(Classmates_Profile)):
    print(Classmates_Profile[i]['age'])

20
22
22
21
25
22
21
21

KeyError: 'age'

In [116]:
for i in range (len(Classmates_Profile)):
    try:
        print(Classmates_Profile[i]['age'])
    except:
        print(str(i)+"th has error")

20
22
22
21
25
22
21
21
8th has error
21
19
22
19
23
20
20
22

# $\color{red}{\text{Q6.}}$ Average age of classmates using jason library

In [118]:
sum_all = 0
for i in range (len(Classmates_Profile)):
    try:
        sum_all += Classmates_Profile[i]['age']
    except:
        print(str(i)+"th has error")
print("mean")
print(sum_all/len(Classmates_Profile))

8th has error
mean
20.0

#  $\color{purple}{\text{Session 16 and 17}}$

## CSV Format

In [ ]:
import pandas as pd

df = pd.read_csv('title.ratings.tsv',sep = '\t')
display(df)

In [ ]:
import pandas as pd
df1 = pd.read_csv('imdb_top_1000.csv',sep = ',')
display(df1)

In [ ]:
max_values = df.apply(max)

print(max_values)
print(end = '\n')
print('maximum average rating value is:' , max_values[1])